body {
    background-color: aqua;
}

#pandaPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#navigationContainer {
    /* border: red solid 4px; */
    width: 500px;
}

#navItemCont {
    display: flex;
    justify-content: space-evenly;
}

.pandaContent {
    /* border: solid 4px hotpink; */
    width: 50%;
    display: flex;
    align-items: center;
}

.pandaContent img {
    /* border: solid blue 4px; */
    width: 50%;
}

